<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header id="home">
      <div>

        <nav>
          <a href="#home" id="2">Capa</a>
          <a href="#introduction" id="1">Apresentaçao</a>
          <a href="#biography" id="3">Biografia</a>
          <a href="#chronology" id="7">Cronologia</a>
          <a href="#book" id="4">A Negrinha</a>
          <a href="#otherWorks" id="5">Outras Obras</a>
          <a href="#context" id="6">Contexto Histórico</a>
        </nav>
        <div>
          <h1>Monteiro Lobato</h1>
          <div>
            <img src="assets/ML-png.gif" alt="">
          </div>
        </div>
      </div>

    </header>
    <main>
      <section id="introduction">
        <h2>Apresentação</h2>
        <p>O propósito desta homenagem a Machado de Assis, mais que lembrar o centenário de sua morte, é fazer com que a
          sua obra completa chegue a qualquer usuário internet, em edições confiáveis e gratuitas. Resultado de uma
          parceria entre o Portal Domínio Público - a biblioteca digital do MEC - e o Núcleo de Pesquisa em Informática,
          Literatura e Lingüística (NUPILL), da Universidade Federal de Santa Catarina, o projeto teve como propósito
          organizar, sistematizar, complementar e revisar as edições digitais até então existentes na rede, gerando o
          que se pode chamar de Coleção Digital Machado de Assis.</p>

        <p>É fato que não tardarão a surgir questionamentos quanto à completude do material aqui apresentado, o que é
          amplamente desejável. Cada vez mais, a internet tem se constituído como canal para o desenvolvimento e o
          aprimoramento colaborativo de projetos os mais diversos, sendo este também o caso da obra completa de Machado.
          Pesquisadores e especialistas da obra do grande escritor podem contribuir apontando possíveis omissões,
          sugerindo novas abordagens e mesmo enviando materiais para publicação no portal. Quanto ao público em geral,
          pode interagir por meio de mensagens eletrônicas, a serem publicadas na seção Postagens.</p>

        <p>Acompanham o “prato principal” das obras completas, além dos vídeos produzidos pela TV Escola, informações
          introdutórias sobre a vida e a obra do autor, adaptadas de fontes confiáveis, como a cronologia preparada por
          Galante de Souza para a Revista do Livro (INL/MEC), em 1958, e a página eletrônica da Academia Brasileira de
          Letras. Necessário observar que o propósito das seções Cronologia e Bibliografia não é trazer informações
          novas ou exaustivas sobre o autor, mas possibilitar ao usuário acesso a informações básicas sem precisar
          recorrer de imediato a outras fontes.</p>

        <p>Já a seção O autor e a obra procura conjugar momentos distintos da interpretação da obra machadiana, ao
          publicar fragmentos de autores contemporâneos de Machado e ao viabilizar o acesso a uma amostra significativa
          da atual produção acadêmica sobre o tema. As teses e dissertações relacionadas nessa seção estão publicadas no
          Portal Domínio Público. Para ter acesso gratuito ao conteúdo completo, é só fazer um cadastro no sistema.
          Complementa a homenagem uma relação de endereços de outras páginas na internet com materiais de qualidade
          relativos a Machado e sua obra.</p>
      </section>
      <section id="biography">
        <h2>Biografia</h2>
      </section>

      <section id="chronology">
        <h2>Cronologia</h2>

        <p>
        <p>
        <div class="moduletable">
          <div class="row">

            <div id="timeline">

              <ul id="dates">

                <li><a href="#1839" class="selected">1839</a></li>

                <li><a href="#1849" class="selected">1849</a></li>

                <li><a href="#1854" class="selected">1854</a></li>

                <li><a href="#1855" class="selected">1855</a></li>

              </ul>
              <ul id="issues">

                <li id="1839" class="selected" style="opacity: 1;">
                  <div class="">
                    <h3>1839</h3>
                  </div>
                  <div class="">
                    <div class="imagem"><img src="/images/cronologia/1839.jpg" alt="Imagem" /></div>
                    <div class="texto">
                      <p>Nasce no Rio de Janeiro, em 21 de junho, Joaquim Maria Machado de Assis, filho do
                        brasileiro Francisco José de Assis e da açoriana Maria Leopoldina Machado de Assis,
                        moradores do morro do Livramento.</p>
                    </div>
                  </div>
                </li>

                <li id="1849" class="selected" style="opacity: 1;">
                  <div class="">
                    <h3>1849</h3>
                  </div>
                  <div class="">
                    <div class="imagem"><img src="/images/cronologia/1849.jpg" alt="Imagem" /></div>
                    <div class="texto">
                      <p>Após o falecimento de sua mãe e de sua única irmã, Machado é amparado por sua madrinha.</p>
                    </div>
                  </div>
                </li>

                <li id="1854" class="selected" style="opacity: 1;">
                  <div class="">
                    <h3>1854</h3>
                  </div>
                  <div class="">
                    <div class="imagem"><img src="/images/cronologia/1854.jpg" alt="Imagem" /></div>
                    <div class="texto">
                      <p>Seu pai casa-se com Maria Inês da Silva, com quem Machado continuará vivendo após a morte
                        de Francisco José.</p>
                    </div>
                  </div>
                </li>

                <li id="1855" class="selected" style="opacity: 1;">
                  <div class="">
                    <h3>1855</h3>
                  </div>
                  <div class="">
                    <div class="imagem"><img src="/images/cronologia/1855.jpg" alt="Imagem" /></div>
                    <div class="texto">
                      <p>Publica seu primeiro poema, "Ela", após tornar-se colaborador do jornal Marmota Fluminense,
                        de Francisco de Paula Brito.</p>
                    </div>
                  </div>
                </li>

      </section>
      <section id="book">
        <h2>A Negrinha</h2>
      </section>
      <section id="otherWorks">
        <h2>Outras Obras</h2>
      </section>
      <section id="context">
        <h2>Contexto Histórico</h2>
      </section>
    </main>
    <footer></footer>
    <script src="script.js"></script>
  </body>

</html>

<!-- <div id="timeline">

          <ul id="dates">

            <li><a href="#1839" class="selected">1839</a></li>

            <li><a href="#1849" class="selected">1849</a></li>

            <li><a href="#1854" class="selected">1854</a></li>

            <li><a href="#1855" class="selected">1855</a></li>

          </ul>
          <ul id="issues">

            <li id="1839" class="selected" style="opacity: 1;">
              <h3>1839</h3>
              <div>
                <img src="/images/cronologia/1839.jpg" alt="Imagem" />
                <p>Nasce no Rio de Janeiro, em 21 de junho, Joaquim Maria Machado de Assis, filho do
                  brasileiro Francisco José de Assis e da açoriana Maria Leopoldina Machado de Assis,
                  moradores do morro do Livramento.</p>
              </div>
            </li>
            <li id="1849" class="selected" style="opacity: 1;">
              <h3>1839</h3>
              <div>
                <img src="/images/cronologia/1839.jpg" alt="Imagem" />
                <p>Nasce no Rio de Janeiro, em 21 de junho, Joaquim Maria Machado de Assis, filho do
                  brasileiro Francisco José de Assis e da açoriana Maria Leopoldina Machado de Assis,
                  moradores do morro do Livramento.</p>
              </div>
            </li>
            <li id="1854" class="selected" style="opacity: 1;">
              <h3>1839</h3>
              <div>
                <img src="/images/cronologia/1839.jpg" alt="Imagem" />
                <p>Nasce no Rio de Janeiro, em 21 de junho, Joaquim Maria Machado de Assis, filho do
                  brasileiro Francisco José de Assis e da açoriana Maria Leopoldina Machado de Assis,
                  moradores do morro do Livramento.</p>
              </div>
            </li>
            <li id="1855" class="selected" style="opacity: 1;">
              <h3>1839</h3>
              <div>
                <img src="/images/cronologia/1839.jpg" alt="Imagem" />
                <p>Nasce no Rio de Janeiro, em 21 de junho, Joaquim Maria Machado de Assis, filho do
                  brasileiro Francisco José de Assis e da açoriana Maria Leopoldina Machado de Assis,
                  moradores do morro do Livramento.</p>
              </div>
            </li>

          </ul>
          <div id="grad_left"></div>
          <div id="grad_right"></div>
          <a href="#" id="next">+</a>
          <a href="#" id="prev" style="display: none;">-</a>

        </div> -->

        /* div#timeline {
          height: 500px;
          margin-top: 50px;

          ul#dates {
            display: flex;
            list-style: none;
            justify-content: space-around;
            overflow-x: scroll;

            width: 100vw;
            height: 70px;
            background: rgb(255, 255, 255);

            // width: 1000px;
            li {
              margin-top: 10px;
              a {
                display: flex;
                color: #2F2E2E;
                font-weight: 900;
                font-size: 1.4rem;
                justify-content: center;
                &::after{
                  position: absolute;
                  content: "";
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: rgb(255, 255, 255);
                  border: 2px solid;
                  transform: translateY(35px);
                  z-index: 10;
                }
              }
            }
            &::after{
              content: "";
              width: 100vw;
              height: 3px;
              background: #000;
              position: absolute;
              transform: translateY(50px);
            }
          }

          ul#issues {
            display: flex;
            list-style: none;
            width: 100vw;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            li {
              // position: absolute;
              background: #ffffff;
              border-radius: 10px;
              width: 80vw;
              height: 300px;

              h3 {}

              div {
                img {}

                p {}
              }
            }
          }
        } */
