<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Negrinha - Ler Conto</title>
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body class="tale">
    <div id="tale">
      <h2>A Negrinha (conto)</h2>
      <p> Negrinha era uma pobre órfã de sete anos. Preta? Não; fusca, mulatinha escura, de cabelos ruços e olhos
        assustados. </p>
      <p> Nascera na senzala, de mãe escrava, e seus primeiros anos vivera-os pelos cantos escuros da cozinha, sobre
        velha esteira e trapos imundos. Sempre escondida, que a patroa não gostava de crianças. </p>
      <p> Excelente senhora, a patroa. Gorda, rica, dona do mundo, amimada dos padres, com lugar certo na igreja e
        camarote de luxo reservado no céu. Entaladas as banhas no trono (uma cadeira de balanço na sala de jantar), ali
        bordava, recebia as amigas e o vigário, dando audiências, discutindo o tempo. Uma virtuosa senhora em suma —
        “dama de grandes virtudes apostólicas, esteio da religião e da moral”, dizia o reverendo. </p>
      <p> Ótima, a dona Inácia. </p>
      <p> Mas não admitia choro de criança. Ai! Punha-lhe os nervos em carne viva. Viúva sem filhos, não a calejara o
        choro da carne de sua carne, e por isso não suportava o choro da carne alheia. Assim, mal vagia, longe, na
        cozinha, a triste criança, gritava logo nervosa: </p>
      <p> — Quem é a peste que está chorando aí? </p>
      <p> Quem havia de ser? A pia de lavar pratos? O pilão? O forno? A mãe da criminosa abafava a boquinha da filha e
        afastava-se com ela para os fundos do quintal, torcendo-lhe em caminho beliscões de desespero. </p>
      <p> — Cale a boca, diabo! </p>
      <p> No entanto, aquele choro nunca vinha sem razão. Fome quase sempre, ou frio, desses que entanguem pés e mãos e
        fazem-nos doer… </p>
      <p> Assim cresceu Negrinha — magra, atrofiada, com os olhos eternamente assustados. Órfã aos quatro anos, por ali
        ficou feito gato sem dono, levada a pontapés. Não compreendia a idéia dos grandes. Batiam-lhe sempre, por ação
        ou omissão. A mesma coisa, o mesmo ato, a mesma palavra provocava ora risadas, ora castigos. Aprendeu a andar,
        mas quase não andava. Com pretextos de que às soltas reinaria no quintal, estragando as plantas, a boa senhora
        punha-a na sala, ao pé de si, num desvão da porta. </p>
      <p> — Sentadinha aí, e bico, hein? </p>
      <p> Negrinha imobilizava-se no canto, horas e horas. </p>
      <p> — Braços cruzados, já, diabo! </p>
      <p> Cruzava os bracinhos a tremer, sempre com o susto nos olhos. E o tempo corria. E o relógio batia uma, duas,
        três, quatro, cinco horas — um cuco tão engraçadinho! Era seu divertimento vê-lo abrir a janela e cantar as
        horas com a bocarra vermelha, arrufando as asas. Sorria-se então por dentro, feliz um instante. </p>
      <p> Puseram-na depois a fazer crochê, e as horas se lhe iam a espichar trancinhas sem fim. </p>
      <p> Que idéia faria de si essa criança que nunca ouvira uma palavra de carinho? Pestinha, diabo, coruja, barata
        descascada, bruxa, pata-choca, pinto gorado, mosca-morta, sujeira, bisca, trapo, cachorrinha, coisa-ruim, lixo —
        não tinha conta o número de apelidos com que a mimoseavam. Tempo houve em que foi a bubônica. A epidemia andava
        na berra, como a grande novidade, e Negrinha viu-se logo apelidada assim — por sinal que achou linda a palavra.
        Perceberam-no e suprimiram-na da lista. Estava escrito que não teria um gostinho só na vida — nem esse de
        personalizar a peste… </p>
      <p> O corpo de Negrinha era tatuado de sinais, cicatrizes, vergões. Batiam nele os da casa todos os dias, houvesse
        ou não houvesse motivo. Sua pobre carne exercia para os cascudos, cocres e beliscões a mesma atração que o ímã
        exerce para o aço. Mãos em cujos nós de dedos comichasse um cocre, era mão que se descarregaria dos fluidos em
        sua cabeça. De passagem. Coisa de rir e ver a careta… </p>
      <p> A excelente dona Inácia era mestra na arte de judiar de crianças. Vinha da escravidão, fora senhora de
        escravos — e daquelas ferozes, amigas de ouvir cantar o bolo e estalar o bacalhau. Nunca se afizera ao regime
        novo — essa indecência de negro igual a branco e qualquer coisinha: a polícia! “Qualquer coisinha”: uma mucama
        assada ao forno porque se engraçou dela o senhor; uma novena de relho porque disse: “Como é ruim, a sinhá!”…
      </p>
      <p> O 13 de Maio tirou-lhe das mãos o azorrague, mas não lhe tirou da alma a gana. Conservava Negrinha em casa
        como remédio para os frenesis. Inocente derivativo: </p>
      <p> — Ai! Como alivia a gente uma boa roda de cocres bem fincados!… </p>
      <p> Tinha de contentar-se com isso, judiaria miúda, os níqueis da crueldade. Cocres: mão fechada com raiva e nós
        de dedos que cantam no coco do paciente. Puxões de orelha: o torcido, de despegar a concha (bom! bom! bom!
        gostoso de dar) e o a duas mãos, o sacudido. A gama inteira dos beliscões: do miudinho, com a ponta da unha, à
        torcida do umbigo, equivalente ao puxão de orelha. A esfregadela: roda de tapas, cascudos, pontapés e safanões a
        uma — divertidíssimo! A vara de marmelo, flexível, cortante: para “doer fino” nada melhor! </p>
      <p> Era pouco, mas antes isso do que nada. Lá de quando em quando vinha um castigo maior para desobstruir o fígado
        e matar as saudades do bom tempo. Foi assim com aquela história do ovo quente. </p>
      <p> Não sabem! Ora! Uma criada nova furtara do prato de Negrinha — coisa de rir — um pedacinho de carne que ela
        vinha guardando para o fim. A criança não sofreou a revolta — atirou-lhe um dos nomes com que a mimoseavam todos
        os dias. </p>
      <p> — “Peste?” Espere aí! Você vai ver quem é peste — e foi contar o caso à patroa. </p>
      <p> Dona Inácia estava azeda, necessitadíssima de derivativos. Sua cara iluminou-se. </p>
      <p> — Eu curo ela! — disse, e desentalando do trono as banhas foi para a cozinha, qual perua choca, a rufar as
        saias. </p>
      <p> — Traga um ovo. </p>
      <p> Veio o ovo. Dona Inácia mesmo pô-lo na água a ferver; e de mãos à cinta, gozando-se na prelibação da tortura,
        ficou de pé uns minutos, à espera. Seus olhos contentes envolviam a mísera criança que, encolhidinha a um canto,
        aguardava trêmula alguma coisa de nunca visto. Quando o ovo chegou a ponto, a boa senhora chamou: </p>
      <p> — Venha cá! </p>
      <p> Negrinha aproximou-se. </p>
      <p> — Abra a boca! </p>
      <p> Negrinha abriu aboca, como o cuco, e fechou os olhos. A patroa, então, com uma colher, tirou da água “pulando”
        o ovo e zás! na boca da pequena. E antes que o urro de dor saísse, suas mãos amordaçaram-na até que o ovo
        arrefecesse. Negrinha urrou surdamente, pelo nariz. Esperneou. Mas só. Nem os vizinhos chegaram a perceber
        aquilo. Depois: </p>
      <p> — Diga nomes feios aos mais velhos outra vez, ouviu, peste? </p>
      <p> E a virtuosa dama voltou contente da vida para o trono, a fim de receber o vigário que chegava. </p>
      <p> — Ah, monsenhor! Não se pode ser boa nesta vida… Estou criando aquela pobre órfã, filha da Cesária — mas que
        trabalheira me dá! </p>
      <p> — A caridade é a mais bela das virtudes cristas, minha senhora —murmurou o padre. </p>
      <p> — Sim, mas cansa… </p>
      <p> — Quem dá aos pobres empresta a Deus. </p>
      <p> A boa senhora suspirou resignadamente. </p>
      <p> — Inda é o que vale… </p>
      <p> Certo dezembro vieram passar as férias com Santa Inácia duas sobrinhas suas, pequenotas, lindas meninas
        louras, ricas, nascidas e criadas em ninho de plumas. </p>
      <p> Do seu canto na sala do trono, Negrinha viu-as irromperem pela casa como dois anjos do céu — alegres, pulando
        e rindo com a vivacidade de cachorrinhos novos. Negrinha olhou imediatamente para a senhora, certa de vê-la
        armada para desferir contra os anjos invasores o raio dum castigo tremendo. </p>
      <p> Mas abriu a boca: a sinhá ria-se também… Quê? Pois não era crime brincar? Estaria tudo mudado — e findo o seu
        inferno — e aberto o céu? No enlevo da doce ilusão, Negrinha levantou-se e veio para a festa infantil, fascinada
        pela alegria dos anjos. </p>
      <p> Mas a dura lição da desigualdade humana lhe chicoteou a alma. Beliscão no umbigo, e nos ouvidos, o som cruel
        de todos os dias: “Já para o seu lugar, pestinha! Não se enxerga”? </p>
      <p> Com lágrimas dolorosas, menos de dor física que de angústia moral —sofrimento novo que se vinha acrescer aos
        já conhecidos — a triste criança encorujou-se no cantinho de sempre. </p>
      <p> — Quem é, titia? — perguntou uma das meninas, curiosa. </p>
      <p> — Quem há de ser? — disse a tia, num suspiro de vítima. — Uma caridade minha. Não me corrijo, vivo criando
        essas pobres de Deus… Uma órfã. Mas brinquem, filhinhas, a casa é grande, brinquem por aí afora. </p>
      <p> — Brinquem! Brincar! Como seria bom brincar! — refletiu com suas lágrimas, no canto, a dolorosa martirzinha,
        que até ali só brincara em imaginação com o cuco. </p>
      <p> Chegaram as malas e logo: </p>
      <p> — Meus brinquedos! — reclamaram as duas meninas. </p>
      <p> Uma criada abriu-as e tirou os brinquedos. </p>
      <p> Que maravilha! Um cavalo de pau!… Negrinha arregalava os olhos. Nunca imaginara coisa assim tão galante. Um
        cavalinho! E mais… Que é aquilo? Uma criancinha de cabelos amarelos… que falava “mamã”… que dormia… </p>
      <p> Era de êxtase o olhar de Negrinha. Nunca vira uma boneca e nem sequer sabia o nome desse brinquedo. Mas
        compreendeu que era uma criança artificial. </p>
      <p> — É feita?… — perguntou, extasiada. </p>
      <p> E dominada pelo enlevo, num momento em que a senhora saiu da sala a providenciar sobre a arrumação das
        meninas, Negrinha esqueceu o beliscão,o ovo quente, tudo, e aproximou-se da criatura de louça. Olhou-a com
        assombrado encanto, sem jeito, sem ânimo de pegá-la. </p>
      <p> As meninas admiraram-se daquilo. </p>
      <p> — Nunca viu boneca? </p>
      <p> — Boneca? — repetiu Negrinha. — Chama-se Boneca? </p>
      <p> Riram-se as fidalgas de tanta ingenuidade. </p>
      <p> — Como é boba! — disseram. — E você como se chama? </p>
      <p> — Negrinha. </p>
      <p> As meninas novamente torceram-se de riso; mas vendo que o êxtase da bobinha perdurava, disseram,
        apresentando-lhe a boneca: </p>
      <p> — Pegue! </p>
      <p> Negrinha olhou para os lados, ressabiada, como coração aos pinotes. Que ventura, santo Deus! Seria possível?
        Depois pegou a boneca. E muito sem jeito, como quem pega o Senhor menino, sorria para ela e para as meninas, com
        assustados relanços de olhos para a porta. Fora de si, literalmente… era como se penetrara no céu e os anjos a
        rodeassem, e um filhinho de anjo lhe tivesse vindo adormecer ao colo. Tamanho foi o seu enlevo que não viu
        chegar a patroa, já de volta. Dona Inácia entreparou, feroz, e esteve uns instantes assim, apreciando a cena.
      </p>
      <p> Mas era tal a alegria das hóspedes ante a surpresa extática de Negrinha, e tão grande a força irradiante da
        felicidade desta, que o seu duro coração afinal bambeou. E pela primeira vez na vida foi mulher. Apiedou-se.
      </p>
      <p> Ao percebê-la na sala Negrinha havia tremido, passando-lhe num relance pela cabeça a imagem do ovo quente e
        hipóteses de castigos ainda piores. E incoercíveis lágrimas de pavor assomaram-lhe aos olhos. </p>
      <p> Falhou tudo isso, porém. O que sobreveio foi a coisa mais inesperada do mundo — estas palavras, as primeiras
        que ela ouviu, doces, na vida: </p>
      <p> — Vão todas brincar no jardim, e vá você também, mas veja lá, hein? </p>
      <p> Negrinha ergueu os olhos para a patroa, olhos ainda de susto e terror. Mas não viu mais a fera antiga.
        Compreendeu vagamente e sorriu. </p>
      <p> Se alguma vez a gratidão sorriu na vida, foi naquela surrada carinha… </p>
      <p> Varia a pele, a condição, mas a alma da criança é a mesma — na princesinha e na mendiga. E para ambos é a
        boneca o supremo enlevo. Dá a natureza dois momentos divinos à vida da mulher: o momento da boneca —
        preparatório —, e o momento dos filhos — definitivo. Depois disso, está extinta a mulher. </p>
      <p> Negrinha, coisa humana, percebeu nesse dia da boneca que tinha uma alma. Divina eclosão! Surpresa maravilhosa
        do mundo que trazia em si e que desabrochava, afinal, como fulgurante flor de luz. Sentiu-se elevada à altura de
        ente humano. Cessara de ser coisa — e doravante ser-lhe-ia impossível viver a vida de coisa. Se não era coisa!
        Se sentia! Se vibrava! </p>
      <p> Assim foi — e essa consciência a matou. </p>
      <p> Terminadas as férias, partiram as meninas levando consigo a boneca, e a casa voltou ao ramerrão habitual. Só
        não voltou a si Negrinha. Sentia-se outra, inteiramente transformada. </p>
      <p> Dona Inácia, pensativa, já a não atazanava tanto, e na cozinha uma criada nova, boa de coração, amenizava-lhe
        a vida. </p>
      <p> Negrinha, não obstante, caíra numa tristeza infinita. Mal comia e perdera a expressão de susto que tinha nos
        olhos. Trazia-os agora nostálgicos, cismarentos. </p>
      <p> Aquele dezembro de férias, luminosa rajada de céu trevas adentro do seu doloroso inferno, envenenara-a. </p>
      <p> Brincara ao sol, no jardim. Brincara!… Acalentara, dias seguidos, a linda boneca loura, tão boa, tão quieta, a
        dizer mamã, a cerrar os olhos para dormir. Vivera realizando sonhos da imaginação. Desabrochara-se de alma. </p>
      <p> Morreu na esteirinha rota, abandonada de todos, como um gato sem dono. Jamais, entretanto, ninguém morreu com
        maior beleza. O delírio rodeou-a de bonecas, todas louras, de olhos azuis. E de anjos… E bonecas e anjos
        remoinhavam-lhe em torno, numa farândola do céu. Sentia-se agarrada por aquelas mãozinhas de louça — abraçada,
        rodopiada. </p>
      <p> Veio a tontura; uma névoa envolveu tudo. E tudo regirou em seguida, confusamente, num disco. Ressoaram vozes
        apagadas, longe, e pela última vez o cuco lhe apareceu de boca aberta. </p>
      <p> Mas, imóvel, sem rufar as asas. </p>
      <p> Foi-se apagando. O vermelho da goela desmaiou… </p>
      <p> E tudo se esvaiu em trevas. </p>
      <p> Depois, vala comum. A terra papou com indiferença aquela carnezinha de terceira — uma miséria, trinta quilos
        mal pesados… </p>
      <p> E de Negrinha ficaram no mundo apenas duas impressões. Uma cômica, na memória das meninas ricas. </p>
      <p> — “Lembras-te daquela bobinha da titia, que nunca vira boneca?” </p>
      <p> Outra de saudade, no nó dos dedos de dona Inácia. </p>
      <p> — “Como era boa para um cocre!…” </p>
    </div>
    <script src="js/jquery.js"></script>
    <script> $( '#tale' ).turn( { gradients: true, acceleration: true } ); </script>
  </body>

</html>
