@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

body {
  background: #ede8c9;
}
body header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body header nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  transition: 500ms;
  width: 100%;
  height: 60px;
  z-index: 100;
  position: fixed;
  background: #ede8c9;
}
body header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
body header nav ul.nav li {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav ul.nav li a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: #2F2E2E;
  font-size: 1.1rem;
}
body header nav ul.links {
  margin-right: 40px;
}
body header nav ul.links li {
  margin: 20px;
}
body header nav ul.links li a {
  color: #2F2E2E;
  text-decoration: none;
  font-size: 1.5rem;
}
body header nav.sticky {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
body header h1 {
  text-align: center;
  margin-top: 170px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F2E2E;
}
body header h1::before {
  content: "Site Sobre um dos Principais Autores do Pre-Mordenismo";
  position: absolute;
  font-family: "Playfair Display";
  font-size: 1.3rem;
  color: #39565A;
  position: absolute;
  align-self: flex-start;
  transform: translateY(-30px);
}
body header div.book-card {
  height: 280px;
  margin-top: 150px;
  background: #2F2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header div.book-card img {
  height: 400px;
  box-shadow: -8px 5px 20px rgb(34, 34, 34);
  border-left: 10px solid #D2D0C4;
  border-bottom: 5px solid #D2D0C4;
  margin-right: 0px;
}
body header div.book-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
body header div.book-card div span {
  color: #ede8c9;
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  font-family: "Playfair Display";
  letter-spacing: 1px;
  flex-direction: column;
}
body header div.book-card div span::after {
  content: "Livro tema da apresentaçao e seu autor Monteiro Lobato";
  transform: translateY(10px);
  font-size: 1.5rem;
}
body header div.book-card div a {
  text-align: center;
  color: #ede8c9;
  background: transparent;
  width: 130px;
  padding: 5px;
  margin: 0 auto;
  font-family: "Playfair Display";
  margin-top: 30px;
  border: 2px solid #ede8c9;
  cursor: pointer;
  transition: 300ms;
  font-style: italic;
  font-size: 1.2rem;
}
body header div.book-card div a:hover {
  border: 2px solid #39565A;
  background: #39565A;
}
body main section {
  width: 100%;
}
body main section > h2 {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #323232;
  font-size: 2rem;
  margin-bottom: 30px;
}
body main section > h2::after {
  content: "";
  position: absolute;
  width: 150px;
  border-radius: 10px;
  height: 4px;
  background: #F0D2B8;
  align-self: flex-end;
  transform: translateY(7px);
}
body main section#introduction {
  background: url(../assets/img/bgRenda.jpg);
  padding: 100px 100px;
}
body main section#introduction p {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: justify;
}
body main section#biography {
  display: flex;
}
body main section#biography div {
  width: 50vw;
  height: 100vh;
}
body main section#biography div.portrait {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/textura-papel.jpg);
  background-size: cover;
}
body main section#biography div.lifeHim {
  background: url(../assets/img/bg-black.jpg) fixed;
  overflow-y: scroll;
  padding: 40px 50px;
}
body main section#biography div.lifeHim h2 {
  color: #C8C7BB;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
body main section#biography div.lifeHim p {
  color: #ccc;
  margin: 20px 0;
  text-align: justify;
}
body main section#biography div.lifeHim::-webkit-scrollbar {
  width: 0px;
}
body main section#chronology {
  padding-top: 40px;
  height: 100vh;
  background: #fff;
  background-size: 600px;
}
body main section#chronology ul.time-line {
  height: 100px;
  align-items: center;
  display: flex;
  overflow: hidden;
}
body main section#chronology ul.time-line li {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 200ms all;
  z-index: 2;
}
body main section#chronology ul.time-line li span {
  transition: 600ms;
  text-align: center;
}
body main section#chronology ul.time-line li span.date {
  cursor: pointer;
  width: 20vw;
  color: #ccc;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
body main section#chronology ul.time-line li span.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  display: inline-block;
}
body main section#chronology ul.time-line li.active .date {
  transform: scale(1.2);
  color: #212121;
}
body main section#chronology ul.time-line li.active .dot {
  background-color: #03b900;
  border: 2px solid rgba(255, 255, 255, 0);
  z-index: 5;
  transform: scale(1.2);
}
body main section#chronology ul.time-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ccc;
  transform: translateY(24px);
  z-index: 1;
}
body main section#chronology ul.slideshow-container {
  height: 400px;
  position: relative;
  width: 80%;
  padding: 2px 40px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section#chronology ul.slideshow-container li.mySlides {
  padding: 0 100px;
  opacity: 0;
  list-style: none;
  transition: ease-in-out 500ms;
  z-index: 1;
  position: absolute;
}
body main section#chronology ul.slideshow-container li.mySlides figure {
  display: flex;
  flex-direction: row;
}
body main section#chronology ul.slideshow-container li.mySlides figure img {
  width: 300px;
  height: 350px;
  margin-right: 50px;
}
body main section#chronology ul.slideshow-container li.mySlides figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section#chronology ul.slideshow-container li.mySlides figure figcaption h3 {
  text-align: center;
  background: #39565A;
  width: 100px;
  height: 70px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
body main section#chronology ul.slideshow-container li.mySlides figure figcaption p {
  color: #592828;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  text-align: justify;
}
body main section#chronology ul.slideshow-container li.mySlides.fade {
  opacity: 1;
  z-index: 5;
}
body main section#chronology .prev,
body main section#chronology .next {
  cursor: pointer;
  position: absolute;
  margin: -250px 80px;
  color: #03b900;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  z-index: 10;
}
body main section#chronology .prev:hover,
body main section#chronology .next:hover {
  scale: 1.3;
}
body main section#chronology .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
body main section#book {
  background: #EDE8C9;
  padding: 30px 100px 100px;
}
body main section#book p {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: justify;
}
body main section#otherWorks {
  background: #f2f2f2;
  padding-bottom: 80px;
  box-shadow: 0px -50px 80px 10px #f2f2f2;
}
body main section#otherWorks h2 {
  padding-top: 0px;
}
body main section#otherWorks > p {
  font-size: 1.2rem;
  padding: 10px 100px;
  text-align: justify;
}
body main section#otherWorks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main section#otherWorks ul li {
  width: 25%;
  height: 30vw;
  margin: 40px;
  list-style: none;
  text-align: center;
  transform-style: preserve-3d;
}
body main section#otherWorks ul li div.card {
  background-color: transparent;
  width: 85%;
  height: 90%;
  perspective: 1000px;
  margin: 0 auto 30px;
}
body main section#otherWorks ul li div.card figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
body main section#otherWorks ul li div.card figure img {
  width: 90%;
  border-left: 10px solid #C8C7BB;
  border-bottom: 4px solid #C8C7BB;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
body main section#otherWorks ul li div.card figure figcaption {
  width: 100%;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  padding: 25px;
  background: #fafafa url(../assets/img/popUp-folha.png) no-repeat bottom right;
  overflow: hidden;
  border-top: 5px solid;
  border-radius: 10px;
}
body main section#otherWorks ul li div.card figure figcaption h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #3e3e3e;
}
body main section#otherWorks ul li div.card figure figcaption h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #e3e3e3;
  margin: 10px 0 0 0;
}
body main section#otherWorks ul li div.card figure figcaption p {
  text-align: justify;
  color: #616161;
}
body main section#otherWorks ul li button {
  color: #ede8c9;
  background: #39565A;
  width: 130px;
  padding: 5px;
  margin: 0 auto 15px 0;
  font-family: "Playfair Display";
  border: 2px solid #39565A;
  cursor: pointer;
  transition: 300ms;
  font-style: italic;
  font-size: 1.2rem;
  background: transparent;
  color: #39565A;
  font-weight: 900;
}
body main section#otherWorks ul li button:hover {
  color: #ede8c9;
  background: #39565A;
  letter-spacing: 1px;
  font-weight: 100;
}
body main section#footer p {
  margin: 70px;
}
body footer {
  background: #000;
  color: #ffffff;
}
body footer > h2 {
  margin: 0 auto;
  padding: 30px 0 10px;
  text-align: center;
  font-size: 2rem;
}
body footer > p {
  width: 70%;
  margin: 0 auto;
  padding: 0px 0 10px;
  text-align: center;
}
body footer div.footer-horizontal {
  height: 350px;
  display: flex;
  align-items: center;
}
body footer div.footer-horizontal h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
body footer div.footer-horizontal > div {
  width: 33%;
  padding: 10px 30px 0 50px;
  height: 300px;
}
body footer div.footer-horizontal > div.devs ul li {
  margin-top: 10px;
}
body footer div.footer-horizontal > div.contato {
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}
body footer div.footer-horizontal > div.contato ul.dados li {
  margin-top: 10px;
}
body footer div.footer-horizontal > div.contato ul.redes-sociais {
  display: flex;
  justify-content: center;
}
body footer div.footer-horizontal > div.contato ul.redes-sociais li {
  margin: 40px 20px;
}
body footer div.footer-horizontal > div.contato ul.redes-sociais li a {
  position: relative;
  transition: 100ms;
  top: 0;
}
body footer div.footer-horizontal > div.contato ul.redes-sociais li a i {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
body footer div.footer-horizontal > div.contato ul.redes-sociais li a:hover {
  top: -5px;
}
body footer div.footer-horizontal > div.info ul li {
  margin-top: 10px;
}
body footer div.footer-horizontal > div.info ul li a {
  color: rgb(255, 255, 255);
}
body footer div.footer-horizontal > div.info ul li a:hover {
  text-decoration: underline;
}
body footer div.copy p {
  text-align: center;
  padding: 20px;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
.next,
.text {
    font-size: 11px;
  }
}
body.tale {
  background: rgb(32, 32, 32);
}
body.tale div#tale {
  margin: 5% auto;
  width: 70%;
  padding: 50px;
  background: rgb(255, 255, 255);
}
body.tale div#tale h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}
body.tale div#tale p {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
body.tale::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

/*# sourceMappingURL=style.css.map */
